/*General Styles*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Quicksand");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
  scroll-behavior: smooth;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.5;
  color: #fff;
}

header a:hover {
  opacity: 1;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 100px 80px;
}

section:not(.hero):nth-child(even) {
  background-color: #f5f5f5;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

hr {
  width: 250px;
  height: 3px;
  background-color: #165b94;
  border: 0;
  margin-bottom: 50px;
}

section h3.title {
  text-transform: capitalize;
  font: bold 38px "Open Sans", sans-serif;
  margin-bottom: 30px;
  text-align: center;
  color: #1b4e68;
}

section p {
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }
}

/*Header Styles*/

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  color: #fff;
  z-index: 2;
  position: fixed;
  background-color: rgba(13, 58, 79, 0.6);
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

header h2 {
  font-family: "Roboto", sans-serif;
}

header nav {
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
}

@media (max-width: 800px) {
  header {
    padding: 20px 10px;
    flex-direction: column;
  }

  header h2 {
    margin-bottom: 15px;
  }
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
  color: white;
  text-align: center;
  padding-top: 10px;
  font-family: "Roboto";
}

ul.icons li {
  display: inline-block;
  margin: 0 1em 0 0;
}

ul.icons li a {
  display: inline-block;
  margin: 0 1em 0 0;
  opacity: 0.8;
}

ul.icons li .icon:before {
  font-size: 1.5em;
}

ul.icons li a:hover {
  transition: 1000ms;
  color: #00f7ff;
  opacity: 1;
  transform: scale(1.5) translateY(-10px);
  transition: 0.25s;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.205), 1px -1px 0 rgba(0, 0, 0, 0.205),
    -1px 1px 0 rgba(0, 0, 0, 0.205), 1px 1px 0 rgba(0, 0, 0, 0.205);
  letter-spacing: 1px;
}

/*Hero Styles*/

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff;
  z-index: 1;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  background-color: #80a3db;
}

.hero h1 {
  font: bold 60px "Roboto", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 15px;
  color: #1b4e68;
}

.hero h3 {
  font: normal 28px "Quicksand", sans-serif;
}

.hero-info {
  margin-bottom: 40px;
  color: #165b94;
}

.hero-content-area {
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 1s forwards;
}

.scroll {
  position: absolute;
  top: 90%;
  right: 49%;
  transition: 200ms;
  opacity: 0.45;
}

.scroll:hover {
  transform: scale(1.5);
  opacity: 0.85;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

@media (max-width: 800px) {
  .hero {
    min-height: 600px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero h3 {
    font-size: 24px;
  }

  .hero a.btn {
    padding: 15px 40px;
  }
}

/*About Me Section*/

.about .grid li {
  height: 350px;
  padding: 20px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.about .grid li.small {
  flex-basis: 30%;
}

.about .grid li.large {
  flex-basis: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1100px) {
  .about .grid li.small,
  .about .grid li.large {
    flex-basis: 50%;
  }
}

@media (max-width: 800px) {
  .about .grid li.small,
  .about .grid li.large {
    flex-basis: 100%;
  }
  .chicago,
  .train,
  .dog {
    display: none;
  }
}

/*Projects Section*/

.projects .grid li {
  padding: 50px;
  flex-basis: 50%;
  text-align: center;
}

.projects .grid li h4 {
  font-size: 28px;
  margin: 25px 0;
  color: #165b94a1;
  transition: 200ms;
}

.projects .grid li h4:hover {
  font-size: 30px;
  margin: 25px 0;
  color: #165b94;
  text-decoration: underline;
  cursor: pointer;
}

.projects .grid img {
  width: 100%;
  height: 70%;
}

.projects .link {
  background-color: #165b94;
  color: white;
  border: 1px solid white;
  padding: 10px 10px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Quicksand";
  margin: 20px 20px;
  opacity: 1;
  transition: 300ms;
  text-align: center;
  width: 150px;
}

.pin {
  border-radius: 0.35em;
  transition: 300ms;
}

@media (max-width: 1000px) {
  .projects .grid li {
    flex-basis: 100%;
    padding: 20px;
  }

  .projects .grid img {
    width: 100%;
    height: auto;
  }

  .projects .grid img {
    width: 100%;
  }
}

/*Skills Section*/

.skills-container {
  width: 800px;
}

.skill-row {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding: 0 10px 10px 10px;
  font-size: 20px;
  font-family: "Roboto";
  transition: 500ms;
}

.skill-row li {
  border-radius: 3px;
}

.skill-row .row2 {
  flex-basis: 50%;
  border: 1px solid white;
  background-color: #165b94;
  color: white;
  transition: 500ms;
  padding: 10px;
}

.skill-row .row2:hover {
  flex-basis: 75%;
  border: 1px solid #165b94;
  background-color: white;
  color: #165b94;
}

.skill-row .alt {
  flex-basis: 50%;
  border: 1px solid white;
  background-color: #0d3a4f;
  color: white;
  transition: 500ms;
  padding: 10px;
}

.skill-row .alt:hover {
  flex-basis: 40%;
  border: 1px solid #0d3a4f;
  background-color: white;
  color: #0d3a4f;
}

.skill-row .row3 {
  flex-basis: 33.3333333333333%;
  border: 1px solid white;
  background-color: #0d3a4f;
  color: white;
  transition: 500ms;
  padding: 10px;
}

.skill-row .row3:hover {
  flex-basis: 50%;
  border: 1px solid #0d3a4f;
  background-color: white;
  color: #0d3a4f;
}

@media (max-width: 1000px) {
  .skills-container {
    width: 90%;
  }
  .skill-row .row3 {
    flex-basis: 75%;
    transition: 500ms;
    padding: 10px;
  }
}

/* Individual projects section */

.project {
  font: normal 16px sans-serif;
}

.container {
  width: 80%;
}

.item {
  display: flex;
  justify-content: center;
}

.item .caption {
  display: flex;
  flex-direction: column;
}

.item .caption .screenshot {
  width: 100%;
  height: auto;
  padding-right: 20px;
  flex-basis: 75%;
  max-width: 800px;
}

.item .sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

@media (max-width: 1000px) {
  .project .container {
    width: 90%;
  }

  .project .item {
    flex-basis: 100%;
    padding: 20px;
    flex-direction: column;
  }

  .item .sidebar {
    flex-direction: row;
    justify-content: center;
  }

  .item .sidebar .links {
    margin-top: 0px;
  }

  .item .sidebar .github {
    margin-top: 0px;
  }
}

@media (max-width: 800px) {
  .project .container {
    margin-top: 100px;
    width: 100%;
  }
}

.project .title {
  font-family: "Quicksand";
  margin-bottom: 25px;
  color: #1b4e68;
}

.project .tech-title {
  color: #1b4e68;
}

.project .description {
  text-align: left;
  border-left: 2px solid #0d3a4f;
  margin-top: 10px;
}

.link {
  background-color: #165b94;
  color: white;
  border: 1px solid white;
  padding: 15px 10px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Quicksand";
  margin: 20px 20px;
  opacity: 1;
  transition: 300ms;
  text-align: center;
  width: 150px;
}

.link:hover {
  background-color: white;
  color: #165b94;
  border: 1px solid #165b94;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

.return {
  background-color: white;
  color: #0d3a4f;
  border: 1px solid #0d3a4f;
  padding: 15px 10px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Quicksand";
  margin: 20px 20px;
  opacity: 1;
  transition: 300ms;
  text-align: center;
  width: 150px;
}

.return:hover {
  background-color: #0d3a4f;
  color: white;
  border: 1px solid #0d3a4f;
}

.tech-ul {
  list-style: circle;
  padding-left: 15px;
  color: #165b94;
}

.tech-ul li {
  padding-top: 10px;
}

/*Footer Section*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(13, 58, 79, 0.5);
  color: #fff;
  padding: 20px 0;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-left: 16px;
}

footer p {
  font-size: 14px;
  opacity: 0.6;
  align-self: center;
}

.footer-link {
  text-decoration: underline;
  color: #fff;
  opacity: 1;
}

@media (max-width: 1100px) {
  footer {
    flex-direction: column;
  }

  footer p {
    text-align: center;
    margin-bottom: 20px;
  }

  footer ul li {
    margin: 0 8px;
  }
}

.contact {
  color: #165b94;
}

.email,
.phone {
  color: #0d3a4f;
  opacity: 0.8;
}

.email:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .phone {
    background-color: rgb(83, 83, 83);
    color: #fff;
  }

  #brand {
    display: none;
  }
}
